<style>
   
    .hero {
        background-image: url(../assets/img/img2.webp);
        background-position: left;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        z-index: 2;
    }
    </style>
    
    
     <div class="hero vh-100 d-flex align-items-center" style="position: right; " id="home" >
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center" style="position: left;">
                    <h1  class="display-3 my-3" >Bonjour! <Br>
                        Decouvrer nous</h1>
                      <h5>Connecter en tant qu'Admin</h5>
                    <button class="btn btn-outline-light col-sm-2 ms-lg-3 " style="width: 150px;background-color: #25292e;"  routerLink="/singinAdmin" >S'incrire </button>
                    <button class="btn btn-outline-light col-sm-2 ms-lg-3 " style="width: 150px;background-color: #c5c7ca;"  routerLink="/loginAdmin" >Connecter </button>

                    
                </div>
            </div>
        </div>
      </div>
     
      <!-- About








       SLIDER -->
        
      <section>
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
              <div class="row">
                <div class="col-12 info-box">
                  <img class="icon" src="../assets/img/img/icon1.png" alt="">
                  <div>
                    <p>Une application desktop qui facilite votre quotidien</p>
                  </div>
                </div>
                <div class="col-12 info-box mt-4">
                  <img class="icon" src="../assets/img/img/icon3.png" alt="">
                 
                  <div>
                    <p>Un service exclusif de délaration de vos dossiers de contrat en ligne</p>
                  </div>
                </div>
                <div class="col-12 info-box mt-4">
                  <img class="icon" src="../assets/img/img/icon2.png" alt="">
                  <div>
                    <p>Le plus grand réseau d'agents généreaux du Royaume pour vous accompagner dans la proximité</p>
                  </div>
                </div>
                <div class="col-12 info-box mt-4">
                  <img class="icon" src="../assets/img/img/icon4.png" alt="">
                  <div>
                    <p>Un programme exclusif et gratuit pour récompenser votre fidélité</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <img class="img" src="../assets/img/img/th (1).jpg" alt="">
            </div>
          </div>
        </div>
      </section>

    <br>


