<mat-nav-list>
    <div class="logo" >
      
      
      <img src="../assets/img/images.jpg" alt="Company Logo" style="width: 120px; height: 90px;border-radius: 10px;" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Contra assurance</h2>
  
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/client/homeClient">
      <mat-icon>home</mat-icon> Home
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/client/addContra">
      <mat-icon>add_box</mat-icon>  Contract request
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/client/VieContra">
       <mat-icon>visibility</mat-icon> View  contract  </a>

       <a mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>exit_to_app</mat-icon> logout  </a>

  </mat-nav-list>