

<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box"  [formGroup]="signUpForm" (ngSubmit)="submit()">
      <h4><span style="margin-left: 9px;">Creat Accounte</span></h4>
    
      <h5>Sign in to your account.</h5>
      <input  matInput type="text" name="name" placeholder=" name" autocomplete="off"  formControlName="name">
      <!-- <mat-error *ngIf="name?.errors?.['required']"> -->
      <!-- entre votre prenome 
      </mat-error> -->
      <i class="typcn typcn-eye" id="eye"></i>
        <input  matInput type="text" name="email" placeholder=" Email Addresz" autocomplete="off"  formControlName="email">
       
        <!-- <mat-error *ngIf="email?.errors?.['required']"> -->
          <!-- error in email 
        </mat-error> -->
        <!-- <mat-error *ngIf="email?.errors?.['email']"> -->
          <!-- Please enter  votre   email address
        </mat-error> -->
        <i class="typcn typcn-eye" id="eye"></i>
        <input matInput type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off" required minlength="8" formControlName="password">
       
        <!-- <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error> -->
        <input matInput type="password" name="confirmPassword" placeholder=" connfig Passsword" id="pwd" autocomplete="off" required minlength="8" formControlName="confirmPassword">
        <!-- <mat-error *ngIf="confirmPassword?.errors?.['required']"> -->
          <!-- password ne pas la meme
        </mat-error> -->
        <!-- <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']"> -->
          <!-- password ne pas la meme
      </mat-error> -->
      <i class="typcn typcn-eye" id="eye"></i>
     
        <button type="submit"  class="btn1">Sin Up</button>
      </form>
    
    
</div>
  