<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebarA()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
       
            <button mat-butto class="user mt-2 d-flex align-items-center">
            <mat-icon>account_box</mat-icon>
  
            Admin Area
           
              
            </button>
        
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>