


.div1{
    width: 700px;
    height: 500px;
}
.nom{
    margin: 0px;
    padding: 0%;
}
/* .mat-dialog-content {
    width: 60%;
    height: 70%;
  }
  
  .mat-grid-list {
    overflow: hidden;
  }
  
  .mat-radio-button {
    margin-right: 15px;
  } */
/* .mat-dialog-content{
  

}
.mat-grid-list {
    overflow: hidden;
}
.div1{
    width: 800px;
    height: 600px;
}
.div2{
    
} */