<mat-nav-list>
    <div class="logo" style=" height: 120px; margin-top: -45px ;" >
      
      
      <img src="../assets/img/admin.png" 
      
      
      alt="Company Logo" style="width: 100px; height: 70px; border-radius: 20px;"/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"  style="margin-left: 20px;">Admin Accounts </h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
      <mat-icon>home</mat-icon> Dashboard
    </a>
  
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/getcontra">
       <mat-icon>assignment</mat-icon> List of new Contracts </a>

         
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/addcontra">
      <mat-icon>assignment</mat-icon> Contracts list    </a>
        
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/branch">
      <mat-icon>visibility</mat-icon>  Branches     </a>

       <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>exit_to_app</mat-icon> logout  </a>

  </mat-nav-list>