<app-navbar></app-navbar>

<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



<div class="row mb-5">
  <div class="col-md-8 mx-auto text-center">
      <h6 class="text-primary">VOUS ÊTES UN PARTICULIER ?</h6>
      <h1>Assurance : des solutions pour tous vos besoins</h1>
      <p>En cas de soucis, une assurance vous permet de couvrir les frais à débourser. N’hésitez pas à vous renseigner sur les différentes options proposées par L’olivier, une compagnie d’assurance reconnue pour ses offres adaptées aux besoins des particuliers. N’attendez pas d’avoir un problème pour penser à vous couvrir, cela peut vous éviter de lourdes dépenses à l’avenir.</p>
  </div>







 <!-- card -->


<style>
  .m{
   background-image: url(../assets/img/auto.png);
  
  
   background-size:100%;
   height: 20px;
       
      
      }
   
</style>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" >
    <div></div>
    <div class="card h-100" >
      <img src="src\assets\img\habit.png"   alt="..." >
        <div class="card-body">
          <h5 class="card-title" >Assurance auto en ligne</h5>
          <p class="card-text"> Cette assurance se révèle obligatoire pour tous les conducteurs en France. Elle couvre les dommages causés à un tiers lors d’un accident de la route, mais aussi les préjudices subis par votre véhicule.</p>
         
        </div>
       
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="src\assets\img\habit.png" class="m"  style="height: 240px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Assurance habitation en ligne</h5>
          <p class="card-text">Cette assurance protège votre habitation et tous ses équipements contre les risques tels que l’incendie, le vol, les dégâts des eaux et couvre notamment tous les frais de déplacement et d’hébergement.

          </p>

        </div>
      
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="src\assets\img\habit.png" class="m" style="height: 240px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Assurance santé en ligne</h5>
          <p class="card-text">Cette assurance complémentaire permet de couvrir les dépenses de santé non prises en charge par la Sécurité sociale, telles que les frais dentaires, les frais d’optique ou encore les frais de médecines alternatives.</p>
         
        </div>
       
      </div>
    </div>
  </div>















 

  <app-foot></app-foot>
