






<style>
    .f {
      background: #058283;
    
     
  }
  
  
  </style>


 


    <footer class="f"  style=" background-color: rgb(164, 164, 168);">
      <div class="footer-top">
          <div class="container">
              <div class="row gy-4">
                  <div class="col-lg-4">
                      <img class="logo" src="../assets/img/logo.png"  style="width: 170px; height: 60px;  border-radius: 30px; ;"alt="">
                  </div>
                 
                  <div class="col-lg-2">
                    <h2 class="text-white">More</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">More Informtion about Us</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Warranty</a></li>
                    </ul>
                </div>
                  <div  class="col-lg-4">
                    <h2 class="text-white">Contact</h2>
                    <ul style="color: aliceblue;" class="list-unstyled">
                        <li >Address: 2715 Ash Dr. San Jose, South Dakota 83475</li>
                        <li >Email: assurance.agence@gmail.com</li>
                        <li>Phone: (+212) 57544332 </li>
                    </ul>
                </div>
                          </div>
          </div>
      </div>
      <div class="footer-bottom py-3">
          <div class="container">
              <div class="row">
                  <div class="col-md-6" style="color: aliceblue;">
                      <p class="mb-0"> © 2020 copyright all right reserved 
                  </div>
                  <div class="col-md-6">
                      <div class="social-icons">
                        <a href="#"> <img class="icon" src="../assets/img/img/icon5.png" alt=""></a>
                        <a href="#"> <img class="icon" src="../assets/img/img/icon6.png" alt=""></a>
                        <a href="#"> <img class="icon" src="../assets/img/img/icon7.png" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
