<h1>Insured branches:
</h1>
<div class="table-wrapper">


    <table class="fl-table" >
        <!-- style=" border: 5px double #000000;
    border-collapse: collapse;"  -->
        <thead>
        <tr>
            <th>Code</th>
            <th>Wording</th>
          
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> 01</td>
            <td>Life</td>
          
        </tr>
        <tr>
            <td>02</td>
            <td> Hail</td>
           
        </tr>
        <tr>
            <td> 03</td>
            <td> Storm</td>
          
        </tr>
        <tr>
            <td> 04</td>
            <td> Fire</td>
         
        </tr>
        
        <tbody>
    </table>
</div>